.home1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}
.home1 h3{
  font-size: 18px;
  color: #404dff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.home1 h1{
  text-align: center;
  font-size: 50px;
  line-height: 54px;
  font-weight: bolder;
  color: #202020;
}
.home1 p{
  text-align: center;
  color: #383838;
}
.btn{
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn button{
  background: #404dff;
  border-radius: 12px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  width: 150px;
  letter-spacing: 1px;
  transition: all 0.5s;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.btn button a{
  cursor: pointer;
  color: #ffffff;
  display: flex;
  letter-spacing: 1px;
  transition: all 0.5s;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}
.btn button:hover{
  background: #2330e9;
}
.btn a button:last-child{
  background: #f0f0f0;
  color: #383838;
}
.btn a button:last-child:hover{
  background: #e7e7e7;
  color: #383838;
}
.icon{
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon a{
  color: #383838;
  font-size: 24px;
}
.down{
  margin-left: 5px;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .home1 h1{
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    font-weight: bolder;
    color: #202020;
  }
  .home1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}