.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cddeff;
  padding: 40px;
  margin-top: 40px;
}
.foot{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.foot2{
  display: flex;
  align-items: center;
  gap: 20px;
}
.foots span{
  color: #0e0e0e;
}
.foot h2{
  color: #202020;
}
.foot p{
  color: #707070;
}
.copy{
  font-size: 13px;
  color: #202020;
}
.foots .active{
  color: #404dff;
}

@media screen and (max-width: 768px) {
  .foot2{
    flex-direction: column;
    display: flex;
  }
  .foot p{
    text-align: center;
  }
}