.navbar{
  background: #FFFFFF;
  position: sticky;
  top: 0px;
  z-index: 100;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.navba{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  max-width: 1200px;
  margin: auto;
}
.navba h1{
  color: #181818;
}
.nav{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav_link p{
  color: #383838;
  transition: all 0.5s;
}
.nav_link p:hover{
  color: #404dff;
}
.active{
  color: #404dff;
}