.navbar{
  background: #FFFFFF;
  position: sticky;
  top: 0px;
  z-index: 100;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.navba{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 80px;
  max-width: 1200px;
  margin: auto;
}
.navba h1{
  color: #181818;
}
.nav{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav_link p{
  color: #383838;
  transition: all 0.5s;
}
.nav_link p:hover{
  color: #404dff;
}
.nav_link .active{
  color: #404dff;
}
.navba button{
  display: none;
}

@media screen and (max-width: 900px){
  .navba button{
    display: flex;
    margin-right: 20px;
    font-size: 20px;
  }
  .navba h1{
    margin-left: 20px;
  }
  .nav{
    display: none;
  }
  .navba h1{
    color: #181818;
    font-size: 24px;
  }
}

@media screen and (min-width : 901px) and (max-width: 1999px){
  .navba h1{
    margin-left: 20px;
  }
  .navba h1{
    color: #181818;
    font-size: 24px;
  }
  .nav{
    margin-right: 20px;
  }
}